In [1]:
prime = [2,3,5,7,11,13]
prime_squara = [x**2 for x in prime]
prime_squara

[4, 9, 25, 49, 121, 169]

In [2]:
multiplication = [i * j for i in range(1,3) for j in range(1,18)]
multiplication

[1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 2,
 4,
 6,
 8,
 10,
 12,
 14,
 16,
 18,
 20,
 22,
 24,
 26,
 28,
 30,
 32,
 34]

In [3]:
mat = [
    [1,2,3,4],
    [5,6,7,8]
]

In [4]:
I = 2
J = 4
mat = [[i * j + j + 1 for j in range(J)]for i in range(I)]
mat

[[1, 2, 3, 4], [1, 3, 5, 7]]

In [5]:
prime = [2,3,5,7,11,13]
prime_squara = [x**2 for x in prime if x**2 > 100]
prime_squara

[121, 169]

In [7]:
num = [[1,2,3,4,5],[6,7,8,9,10]]
col = [row[2] for row in num]
print(col)

[3, 8]

In [8]:
list = [1,2,3,4,5,6,7,8,9]
[x if x%2==0 else None for x in list]

[None, 2, None, 4, None, 6, None, 8, None]

In [9]:
[x * y for x in range(3) for y in range(x+1)]

[0, 0, 1, 0, 2, 4]